<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CHAT_APP</title>
  </head>
  <body>
    <h1>CHAT_APP</h1>
    <form  action="/chatroom" method="post">
    <label>Name:</label>
    <input type="text" id="name" name='name' placeholder="enter your name" >
    <br>
    <br>
    <label>Chat ID</label>
    <input type="text" id="id" name='chatid' placeholder="enter your chat id" >
    <br>
    <br>
    <button>Register</button>
    </form>
  </body>
</html>
